.gym-schedule, .testimonial-section {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}
.gym-schedule section, .testimonial-section section {
  width: 45%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.gym-schedule h2, .gym-schedule p {
  width: 100%;
}
.full-width,.half-width {
  min-height: 200px;
}
.full-width img,.half-width img {
  width: 100%;
  max-height: 200px;
}
.full-width {
  width: 100%;
  margin-bottom: 10px;
}
.half-width {
  width: 48%;
}
.schedule h3{
  color: #fff!important;
  text-align: center;


}
.upcoming-class {
  width: 48%;
  background-color: #fff;
  color: #000;
  padding: 20px;
  margin-bottom: 25px;

}
.upcoming-class button {
  border: 1px solid #fdc43a;
  width: 100%;
}

.testimonial-img {
  background: grey;
}
.schedule img, .testimonial-img img {
  width: 100%;
  height: auto;
}
.sponsorship {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.sponsor {
  width: 150px;
  min-height: 65px;
  margin-bottom: 20px;
}
.gym-text {
  max-height: 250px;
}

/*------------------------------------------------------------------------------
    Media Queries
-------------------------------------------------------------------------------*/
@media  (max-width:767px) and (orientation:portrait) {
  .gym-schedule section, .testimonial-section section {
    width: 100%;
  }
  .full-width,.half-width {
    width: 100%;
    margin: 10px;
  }
  .gym-schedule {
    flex-flow: column;
  }
  .testimonial-section, .gym-schedule.reverse {
    flex-flow: column-reverse;
  }
  .gym-schedule.second, .testimonial-section.second {
    flex-flow: column;
  }
  .sponsor {
    margin: 10px auto;
  }
  .upcoming-class {
    width: 100%;
  }
  .gym-text {
    margin-bottom: 150px;
  }
}

@media  (max-width:767px) and (orientation:landscape) {
  .gym-schedule section, .testimonial-section section {
    width: 100%;
  }
  .full-width,.half-width {
    width: 100%;
    margin: 10px;
  }
  .gym-schedule {
    flex-flow: column;
  }
  .testimonial-section, .gym-schedule.reverse {
    flex-flow: column-reverse;
  }
  .gym-schedule.second, .testimonial-section.second {
    flex-flow: column;
  }
}

@media  (max-width:1024px) and (orientation:portrait) {
  .gym-schedule section, .testimonial-section section {
    width: 100%;
  }
  .full-width,.half-width {
    width: 100%;
    margin: 10px;
  }
  .gym-schedule {
    flex-flow: column;
  }
  .testimonial-section, .gym-schedule.reverse {
    flex-flow: column-reverse;
  }
  .gym-schedule.second, .testimonial-section.second {
    flex-flow: column;
  }
}

@media  (max-width:1024px) and (orientation:landscape) {

}
