.sponsor {
  background-image: url(../img/bu-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.year-up{
  background-image: url(../img/yearup.png);
}
.naga {
  background-image: url(../img/Naga.png);
}
.impact-hub {
  background-image: url(../img/impacthub.png);
}
.bps {
  background-image: url(../img/BPS-Logo-FOC.png);
}
.ymca {
  background-image: url(../img/Valley-YMCA-logo.png);
}
.revgear {
  background-image: url(../img/rev-gear-logo.png);
}
.hub-church {
  background-image: url(../img/hub-church.png);
}
.northeastern {
  background-image: url(../img/northeastern.png);
}
.citizen-schools {
  background-image: url(../img/citizen-schools-logo.png);
}
.boston-foundation {
  background-image: url(../img/Boston-Foundation-Logo.jpg);
}
