.visit {
  width: 100%;
  background-color: #fdc43a;
  color: #fff;
}
/*.visit > .wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}*/
.visit button {
  background-color: #fff;
  color: #fdc43a;
}

.option {
  width: 40%;
  text-align: center;
}


/*------------------------------------------------------------------------------
    Media Queries
------------------------------------------------------------------------------*/
@media  (max-width:767px) and (orientation:portrait) {
  .visit {
    height: auto;
    padding-bottom: 50px;
  }
  .visit > .wrapper {
    flex-flow: column;
  }
  .option {
    width: 100%;
    margin-bottom: 20px;
  }
  .option p {
    text-align: left;
  }
}

@media  (max-width:767px) and (orientation:landscape) {

}

@media  (max-width:1024px) and (orientation:portrait) {

}

@media  (max-width:1024px) and (orientation:landscape) {

}
