
  <div>
    <section>
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </section>
    <h6>Site Map</h6>
    <ul>
      <li><a href="gym.html">Classes</a></li>
      <li>Hire Us</li>
    </ul>
    <h6>Contribute</h6>
    <ul>
      <li><a href="donate.html">Give</a></li>
      <li>Volunteer</li>
    </ul>
  </div>
  <div>
    <h5>Level Ground</h5>
    <h5>Mixed Martial Arts</h5>

    <p class="address">50 Milk Street, Floor 17</p>
    <p class="address">Boston, MA, 02109</p>
    <p class="address">410-533-2210</p>
    <span class="email-address">Ali@LevelGroundMMA.org</span>
  </div>
  <section>
    <p>Level Ground Mixed Martial Arts is a tax-exempt organization under the IRS.</p>
    <img src="../img/new-logo-white.png" alt="">
  </section>
