<header class="home">
          <nav>
            <ul>
              <a href="gym.html"><li>Classes</li></a>
              <a href="#"><li>Hire Us</li></a>
            </ul>
            <a href="index.html"><img src="img/new-logo-white.png" alt=""></a>
            <!-- <div id="flag">
              <img src="img/new-logo-white.png" alt="">
            </div> -->
            <button type="button" name="donate-button"><a href="donate.html">DONATE</a></button>
          </nav>
          <div class="wrapper">
            <h1>Where Grit Meets Opportunity</h1>
            <h3>At Level Ground(LG), urban youth cultivate grit and resilience through Mixed Material Arts. They learn to apply these values 'off the mat' in the pursuit of their own ambitions through our Student Trainer Certification and College Access programs.</h3>
            <a href="#">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              Watch the Video</a>
          </div>
        </header>
