<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Level Ground MMA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="https://use.fontawesome.com/caa8e53472.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header class="donate">
          <nav>
            <ul>
              <a href="classes.html"><li>Classes</li></a>
              <a href="hire.html"><li>Hire Us</li></a>
              <a href="news.html"><li>News</li></a>
            </ul>
            <div class="logo-holder">
              <a href="index.html"><img src="img/new-logo-white.png" alt=""></a>
              <section>

              </section>
            </div>
            <!-- <div id="flag">
              <img src="img/new-logo-white.png" alt="">
            </div> -->
            <a href="donate.html"><button type="button" name="donate-button">DONATE</button></a>
          </nav>
          <div class="wrapper">
            <h1>News</h1>
          </div>
        </header>
        <section>
          <div class="newswrapper">
            <section class="multi-post">
              <div class="post">
                <h2>2016 Year-End Campaign: Let's Build the first free, youth-managed MMA gym!</h2>
                <p>Because of your support, Level Ground will open our Athletic, Academic, and job Training Center in January 2017! The Training Center will also provide free &amp; affordable Personal Training and MMA classes to all Boston residents, no matter income.</p>
                <p>Youth will serve as our Personal Trainers, Fitness Instructors, and Managers!</p>
                <p>Check out this video to see what the Training Center will look like in action!</p>
                <p>The LG Training Center will include 2,700 sq. feet of mat space for athletics, the Beat 58 Personal Training Studio, and our Academic and job Training Classroom.</p>
                <p>LG aims to raise $35,000($20K online, $15K offline) by mid-January. Funds will go towards vital equipment and renovations as well as wages for our Student Trainers. Between our online and offline donations as of 11/22/2016, we have already reached 40% of this goal!</p>
                <p>With your help, the LG Training Center will serve hundreds of more young people through our wraparound services. Together, we will also empower our Student Trainers to become fitness leaders in their community and address key health disparities in urban Boston.</p>
                <section class="author-date">
                  <span><i class="fa fa-user" aria-hidden="true"></i>Ali Fuller</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i>November 22nd, 2016</span>
                </section>
              </div>
              <div class="post">
                <h2>2016 Year-End Campaign: Let's Build the first free, youth-managed MMA gym!</h2>
                <p>Because of your support, Level Ground will open our Athletic, Academic, and job Training Center in January 2017! The Training Center will also provide free &amp; affordable Personal Training and MMA classes to all Boston residents, no matter income.</p>
                <p>Youth will serve as our Personal Trainers, Fitness Instructors, and Managers!</p>
                <p>Check out this video to see what the Training Center will look like in action!</p>
                <p>The LG Training Center will include 2,700 sq. feet of mat space for athletics, the Beat 58 Personal Training Studio, and our Academic and job Training Classroom.</p>
                <p>LG aims to raise $35,000($20K online, $15K offline) by mid-January. Funds will go towards vital equipment and renovations as well as wages for our Student Trainers. Between our online and offline donations as of 11/22/2016, we have already reached 40% of this goal!</p>
                <p>With your help, the LG Training Center will serve hundreds of more young people through our wraparound services. Together, we will also empower our Student Trainers to become fitness leaders in their community and address key health disparities in urban Boston.</p>
                <section class="author-date">
                  <span><i class="fa fa-user" aria-hidden="true"></i>Ali Fuller</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i>November 22nd, 2016</span>
                </section>
              </div>
              <div class="post">
                <h2>2016 Year-End Campaign: Let's Build the first free, youth-managed MMA gym!</h2>
                <p>Because of your support, Level Ground will open our Athletic, Academic, and job Training Center in January 2017! The Training Center will also provide free &amp; affordable Personal Training and MMA classes to all Boston residents, no matter income.</p>
                <p>Youth will serve as our Personal Trainers, Fitness Instructors, and Managers!</p>
                <p>Check out this video to see what the Training Center will look like in action!</p>
                <p>The LG Training Center will include 2,700 sq. feet of mat space for athletics, the Beat 58 Personal Training Studio, and our Academic and job Training Classroom.</p>
                <p>LG aims to raise $35,000($20K online, $15K offline) by mid-January. Funds will go towards vital equipment and renovations as well as wages for our Student Trainers. Between our online and offline donations as of 11/22/2016, we have already reached 40% of this goal!</p>
                <p>With your help, the LG Training Center will serve hundreds of more young people through our wraparound services. Together, we will also empower our Student Trainers to become fitness leaders in their community and address key health disparities in urban Boston.</p>
                <section class="author-date">
                  <span><i class="fa fa-user" aria-hidden="true"></i>Ali Fuller</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i>November 22nd, 2016</span>
                </section>
              </div>
            </section>
            <section class="post-links">
              <h4>Recent Posts</h4>
              <ul>
                <a href="#"><li>2016 Year-End Campaign: Let's build the first free, youth-managed MMA gym!</li></a>
                <a href="#"><li>Coming in January 2017: Level Ground Training Center</li></a>
                <a href="#"><li>LG Student Trainers head to Fall Internships!</li></a>
                <a href="#"><li>LG Student wins second MMA competition</li></a>
                <a href="#"><li>LG Students head to Ukraine through State Department-funded initiative</li></a>
              </ul>
              <h4>Archive</h4>
              <ul>
                <a href="#"><li>November 2016</li></a>
                <a href="#"><li>September 2016</li></a>
                <a href="#"><li>August 2016</li></a>
                <a href="#"><li>June 2016</li></a>
                <a href="#"><li>May 2016</li></a>
                <a href="#"><li>April 2016</li></a>
                <a href="#"><li>February 2016</li></a>
                <a href="#"><li>December 2015</li></a>
                <a href="#"><li>November 2015</li></a>
                <a href="#"><li>October 2015</li></a>
                <a href="#"><li>April 2015</li></a>
                <a href="#"><li>February 2015</li></a>
                <a href="#"><li>January 2015</li></a>
                <a href="#"><li>December 2014</li></a>
                <a href="#"><li>September 2014</li></a>
                <a href="#"><li>August 2014</li></a>
                <a href="#"><li>July 2014</li></a>
              </ul>
              <h4>Categories</h4>
              <ul>
                <a href="#"><li>Competition</li></a>
                <a href="#"><li>Motivational</li></a>
                <a href="#"><li>Organizations</li></a>
                <a href="#"><li>People</li></a>
                <a href="#"><li>Success</li></a>
                <a href="#"><li>Uncategorized</li></a>
                <li><a href="#">Uplifting</a></li>
              </ul>
            </section>
          </div>
        </section>
        <footer>
          <div>
            <section>
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </section>
            <h6>Site Map</h6>
            <ul>
              <li><a href="classes.html">Classes</a></li>
              <li><a href="hire.html">Hire Us</a></li>
            </ul>
            <h6>Contribute</h6>
            <ul>
              <li><a href="donate.html">Give</a></li>
              <li>Volunteer</li>
            </ul>
          </div>
          <div>
            <h5>Level Ground</h5>
            <h5>Mixed Martial Arts</h5>

            <p class="address">50 Milk Street, Floor 17</p>
            <p class="address">Boston, MA, 02109</p>
            <p class="address">410-533-2210</p>
            <span class="email-address">Ali@LevelGroundMMA.org</span>
          </div>
          <section>
            <p>Level Ground Mixed Martial Arts is a tax-exempt organization under the IRS.</p>
            <img src="img/new-logo-white.png" alt="">
          </section>
        </footer>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
